@model IEnumerable<ManufacturerIndex>

@{
    ViewBag.Title = "Manufacturers";
}

@if (TempData["Message"] != null)
{
    @Html.Partial("_Message");
}

<h2>@ViewBag.Title</h2>

<p class="h4">
    @Html.ActionLink("Create New", "Create", null, new { @class="text-success"})
</p>
<div class="row">
    <div class="col-md-6">
        <table class="table text-center table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LaptopModelsCount)
                </th>
                <th>
                    Action
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr class="h4">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LaptopModelsCount)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Manufacturers", new { area = "Admin", id = item.Id }, new { @class="text-info"}) |
                        <a href="#" role="button" data-id="@item.Id" data-name="@item.Name" class="delete text-danger">Delete</a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

@Html.Partial("_DeleteModal", new ViewDataDictionary { { "url", "/Admin/Manufacturers/Delete" } })

@section scripts{
    @Scripts.Render("~/bundles/custom")
    <script type="text/javascript">
        $(function () {
            modalOperations.init();
            modalOperations.modalDelete('.delete', 'Are you sure to delete manufacturer ', ' with all its models ?');
        });

    </script>
}