@model IEnumerable<ManufacturerIndex>

@{
    ViewBag.Title = "Manufacturers";
}

@if (TempData["Message"] != null)
{
    @Html.Partial("_Message");
}

@Html.Partial("_AdministratorCrown")

<p class="h4">
    @*@Html.ActionLink("Create New", "Create", null, new { @class="text-success"})*@
    <a href="/Admin/Manufacturers/Create" class="text-success"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Create New</a>
</p>
<div class="row">
    <div class="col-md-6">
        <table id="tblManufacturers" class="table text-center table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LaptopModelsCount)
                </th>
                <th>
                    Action
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr class="h4">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LaptopModelsCount)
                    </td>
                    <td>
                        <a href="~/Admin/Manufacturers/Edit/@item.Id" class="text-info"><img class="edit" src="~/Content/custom_images/maintenance-dark.gif" alt="Maintenance" width="20" /> Edit</a> |
                        @*@Html.ActionLink("Edit", "Edit", "Manufacturers", new { area = "Admin", id = item.Id }, new { @class="text-info"}) |*@
                        <a href="javascript:void(0)" role="button" data-id="@item.Id" data-name="@item.Name" class="delete text-danger"><img src="~/Content/custom_images/delete-red.png" width="20" alt="Delete" /> Delete</a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

@Html.Partial("_DeleteModal", new ViewDataDictionary { { "url", "/Admin/Manufacturers/Delete" } })

@section scripts{
    @Scripts.Render("~/bundles/custom")
    <script type="text/javascript">
        $(function () {
            $('#tblManufacturers tr:nth-of-type(2n+1) img.edit').removeAttr('src').attr('src', '/Content/custom_images/maintenance-light.gif');
            LinkColorChange();
            modalOperations.init();
            modalOperations.modalDelete('.delete', 'Are you sure to delete manufacturer ', ' with all its own models ?');
        });

    </script>
}