@model IEnumerable<LaptopsSystem.Web.Areas.Admin.Models.LaptopAdminIndex>

@{
    ViewBag.Title = "Laptops";
    var ajaxOptions = new AjaxOptions()
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "laptops",
        LoadingElementId = "loadingElement",
        //LoadingElementDuration = 200,
        OnSuccess = "OnSuccess",
    };
    var manufacturers = ViewBag.Manufacturers as IEnumerable<SelectListItem>;
}

@if (TempData.ContainsKey("Message"))
{
    @Html.Partial("_Message")
}

@Html.Partial("_AdministratorCrown")

@using (Ajax.BeginForm("Laptops", "Ajax", new { area = "" }, ajaxOptions, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-group">
        <label for="manufacturerId" class="control-label col-md-2">Manufacturer</label>
        <div class="col-md-4">
            @Html.DropDownList("manufacturerId", manufacturers, "-- ALL --", new{ @class = "form-control", onchange="$(this.form).submit();"})
        </div>
        <div id="loadingElement" class="col-md-6" style="display:none;">
            @*<img src="~/Content/custom_images/spiffygif_46x46.gif" alt="Loading..." />*@
            <img src="~/Content/custom_images/ajax-loader.gif" alt="Loading..." width="46" />
        </div>
    </div>
}

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "text-success h4" })
</p>


<div id="laptops">

    @Html.Partial("_Laptops", Model)

</div>

@Html.Partial("_DeleteModal", new ViewDataDictionary { { "url", "/Admin/Laptops/Delete" } })

@section scripts{
    @Scripts.Render("~/bundles/ajax")
    @Scripts.Render("~/bundles/custom")
    <script type="text/javascript">
        var Initialize = function (ajaxResultHeight) {

            $('#tblLaptops tr:nth-of-type(2n+1) img.edit').removeAttr('src').attr('src', '/Content/custom_images/maintenance-light.gif');

            modalOperations.init(ajaxResultHeight);
            modalOperations.modalDelete('.delete', 'Are you sure to delete laptop ', ' ?');
        };

        var OnSuccess = function () {
            $('#laptops').hide().slideDown(1000, Initialize($('#laptops').height()));
        };

        $(function () {
            Initialize();
        });
        
    </script>
}