@using PagedList;
@using PagedList.Mvc;

@model IPagedList<LaptopsSystem.Web.Areas.Admin.Models.CommentIndex>

@{
    ViewBag.Title = "Comments";
    var uri = new Uri(Request.Url.AbsoluteUri);
    var cleanUrl = uri.GetComponents(UriComponents.AbsoluteUri & ~UriComponents.Port, UriFormat.UriEscaped);
    TempData["Url"] = cleanUrl;
}

@if (TempData.ContainsKey("Message"))
{
    @Html.Partial("_Message")
}

@Html.Partial("_AdministratorCrown")
<br />

<table id="tblComments" class="table table-striped">
    <tr class="text-center">
        <th>
            Content
        </th>
        <th class="text-left">
            Laptop
        </th>
        <th class="text-left">
            Author
        </th>
        <th>
            Posted
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="width:50%">
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td class="middle">
                @Html.ActionLink(item.LaptopManufacturer + " " + item.LaptopModel, "Details", "Home", new { area = "", id = item.LaptopId }, null)
            </td>
            <td class="middle">
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td class="middle" style="width:15%">
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td class="text-center middle" style="width:13%">
                <a href="/Admin/Comments/Edit/@item.Id" class="text-info"><img class="edit" src="~/Content/custom_images/maintenance-dark.gif" alt="Maintenance" width="20" /> Edit</a> |
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "text-info" }) |*@
                <a href="javascript:void(0)" role="button" data-id="@item.Id" data-name="@item.Author" class="delete text-danger"><img src="~/Content/custom_images/delete-red.png" width="20" alt="Delete" /> Delete</a>
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, page => Url.Action("Index", "Comments", new { page = page, area = "Admin" }),PagedListRenderOptions.ClassicPlusFirstAndLast)

@Html.Partial("_DeleteModal", new ViewDataDictionary { { "url","/Admin/Comments/Delete" } })

@section scripts{
    @Scripts.Render("~/bundles/custom")
    <script type="text/javascript">
        $(function () {
            $('#tblComments tr:nth-of-type(2n+1) img.edit').removeAttr('src').attr('src', '/Content/custom_images/maintenance-light.gif');
            modalOperations.init();
            modalOperations.modalDelete('.delete', 'Are you sure to delete that comment from ', ' ?');
        })
    </script>
}