@model LaptopDetails
@{
    ViewBag.Title = Model.Manufacturer + " " + Model.Model;
}

<h2>Details</h2>
<hr />

@Html.DisplayForModel()

<div>
    @if (TempData["Url"] != null)
    {
        <a href="@TempData["Url"]">Go Back</a>
        
    }
    else
    {
        <a href="javascript:history.go(-1)">Go Back</a>
    }
    
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ajax")
    @Scripts.Render("~/bundles/custom")
<script type="text/javascript">
    $(function () {
        modalOperations.init();
        modalOperations.modalShowImage('.img-laptop');
    })
    </script>
}