@using PagedList
@using PagedList.Mvc

@model IPagedList<LaptopsSystem.Web.ViewModels.LaptopIndex>

@{
    ViewBag.Title = "Laptops";
    var uri = new Uri(Request.Url.AbsoluteUri);
    var cleanUrl = uri.GetComponents(UriComponents.AbsoluteUri & ~UriComponents.Port, UriFormat.UriEscaped);
    TempData["Url"] = cleanUrl;
}

<h2>@ViewBag.Title</h2>
<hr />


<form class="form-horizontal well">
    <div class="form-group">
        <label for="model" class="col-md-2 control-label">By name</label>
        <div class="col-md-10">
            <input type="text" name="model" id="model" value="" class="form-control" autofocus="autofocus" placeholder="Manufacturer or model" />
            <span class="text-primary h6"><em>Search in manufacturer or model name and redirect to details page</em></span>
        </div>
    </div>
</form>

<br />

<form class="form-horizontal well" role="form">

    <div class="form-group">
        <label for="manufacturer" class="col-md-2 control-label">By manufacturer</label>
        <div class="col-md-10">
            @Html.DropDownList("manufacturer", ViewBag.Manufacturers as IEnumerable<SelectListItem>, "-- ALL --", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group-sm">
        <label for="from" class="col-md-2 control-label">From price</label>
        <div class="col-md-2">
            <input type="number" readonly="readonly" id="from" name="from" value="@((decimal)ViewBag.From)" class="form-control input-sm" />
        </div>
        <label for="to" class="col-md-1 control-label">To price</label>
        <div class="col-md-2">
            <input type="number" readonly="readonly" id="to" name="to" value="@((decimal)ViewBag.To)" class="form-control input-sm" />
        </div>
        <div class="col-md-1">
            <img src="~/Content/custom_images/pound.gif" alt="Pound" width="30" />
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-5">
                <div id="slider"></div>
            </div>
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-2">
            <button type="submit" class="btn btn-success" name="search" id="search">Search</button>
        </div>
    </div>
</form>
@if (!Model.Any())
{
    <h4 class="text-warning"><em><strong>No results !</strong></em></h4>
}
else
{
    <table class=" table table-striped vertical-center">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].ImageUrl)
            </th>
            <th>Action</th>
            </tr>

            @foreach (var item in Model)
        {
                <tr>
                    <td>
                        <span class="h4">@Html.DisplayFor(modelItem => item.Manufacturer)</span>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        <span class="text-success h4">@Html.DisplayFor(modelItem => item.Price)</span>
                    </td>
                    <td>
                        <img src="@item.ImageUrl" alt="@String.Format("{0} {1}",item.Manufacturer, item.Model)" class="img-laptop" />
                    </td>
                    <td>
                        @Html.ActionLink("View more...", "Details", "Home", new { id = item.Id }, new { @class = "btn btn-sm btn-info" })
                    </td>
                </tr>
        }

    </table>

    @Html.PagedListPager(Model, page => Url.Action("Index", "Laptops", new { page = page, manufacturer = Request["manufacturer"], from = Request["from"], to = Request["to"] }) + "#search", PagedListRenderOptions.ClassicPlusFirstAndLast)

    @Html.Partial("_ImageModal")
}

@section scripts{
    @Scripts.Render("~/bundles/custom")
<script type="text/javascript">
    $(function () {
        modalOperations.init();
        modalOperations.modalShowImage('.img-laptop');
    })
    </script>
}

